/******  linha de teste - apenas para testar as atualizações do github ******/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	background-image: url("../img/blue-1920.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p {
	padding: 0 0.5em 0 0.5em;
	text-align: justify;
  	text-justify: inter-word;
  	font-style: italic;
}

a:link, a:visited {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: rgba(255,255,255, 0.7);
}

/****** overlay ******/
.layerImage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.25);
  z-index: -2;
}

/****** configurando o cabeçalho ******/
#logo {
	font-size: 2em;
}

#inicial {
	width: 100%;
	min-height: 100vh;
}

#conteudo {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#conteudo p {
	text-align: center;
}

header {
	max-width: 90%;
	margin: 1em auto 0 auto;
	background-color: transparent;
}



nav {
	float: right;
	padding-top: 1em;
}

/****** estilizando o menu ******/
#menu a {
	border-radius: 3px;
	border: #000000 2px solid;
	padding: 0 0.2em 0 0.2em;
}

#menu a:hover {
	border: rgba(255,255,255, 0.7) 2px solid;
}

#icones {
	min-width: 8em;
	font-size: 1.75em;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -0.5em);
	text-align: center;
	display: flex;
	justify-content: space-between;
}

#portifolio {
	min-height: 100vh;
	background-color: #ffffff;
	text-align: center;
}

.row {
	width: 100%;
	box-sizing: border-box;
	margin-top: 2em;
	text-align: center;
}


/****** criando colunas iguais e que flutuam próximas umas das outras ******/
.column {
	width: 80%;
	margin: 1em auto 2em auto;
	text-align: center;
}

/****** frame ******/
.frame {
	max-width: 500px;
	border: rgba(0,0,204, 0.5) 1px solid;
	text-align: center;
	margin: 0 auto;
}

.frame:hover {
	transform: scale(1.05, 1.05);
}

.img-card {
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

.text-card {
	text-align: center;
	background-color: rgba(0,0,204, 0.5);
	max-width: 100%;
}

.text-card p {
	padding: 0 !important;
	margin: 0;
}

#contato {
	width: 100%;
	min-height: 100vh;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

#contato * {
	margin: 0.5em 0 0.5em 0;
}

#parFoto {
	max-width: 90%;
	text-align: center;
}

#foto {
	border-radius: 50%;
	border: rgba(255,255,255, 0.5) 5px solid;
	max-width: 90%;
	height: auto;
}

#myLinks {
	font-size: 2em;
}

.generic-btn {
	padding: 0.75em;
	border-radius: 5px;
	background-color: rgba(255,255,255, 0.5);
	color: #000000;
	font-weight: bold;
}

.generic-btn:hover {
	background-color: rgba(0,0,0, 0.5);
	color: #ffffff;
}


/*********** dispositivos médios ***********/
@media (min-width: 768.01px) and (max-width: 1200px) {
	.column {
		width: 80%;
	}

	.frame {
		max-width: 400px;
	}
}


/*********** dispositivos pequenos ***********/
@media (min-width: 576.01px) and (max-width: 768px) {
	.column {
		width: 80%;
	}

	.frame {
		max-width: 350px;
	}
}

/*********** dispositivos extra pequenos ***********/
@media screen and (max-width: 576px) {
	nav {
		float: none;
		text-align: center;
		padding-top: 0;
	}

	header {
		text-align: center;
		max-width: 100%;
	}

	#menu {
		display: none;
	}

	.column {
		width: 98%;
	}

	.frame {
		max-width: 220px;
	}
}