/******  linha de teste - apenas para testar as atualizações do github ******/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	background-image: url("../img/blue-1920.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p {
	padding: 0 0.5em 0 0.5em;
	text-align: justify;
  	text-justify: inter-word;
  	font-style: italic;
}

a:link, a:visited {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: rgba(255,255,255, 0.7);
}

/****** overlay ******/
.layerImage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.25);
  z-index: -2;
}

/****** configurando o cabeçalho ******/
#logo {
	font-size: 2em;
}

#inicial {
	width: 100%;
	min-height: 100vh;
}

#conteudo {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#conteudo p {
	text-align: center;
}

header {
	max-width: 90%;
	margin: 1em auto 0 auto;
	background-color: transparent;
}



nav {
	float: right;
	padding-top: 1em;
}

/****** estilizando o menu ******/
#menu a {
	border-radius: 3px;
	border: #000000 2px solid;
	padding: 0 0.2em 0 0.2em;
}

#menu a:hover {
	border: rgba(255,255,255, 0.7) 2px solid;
}

#icones {
	min-width: 8em;
	font-size: 1.75em;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -0.5em);
	text-align: center;
	display: flex;
	justify-content: space-between;
}

#portifolio {
	min-height: 100vh;
	background-color: #ffffff;
	text-align: center;
}

.dividerP {
	width: 100%;
}

.row {
	width: 100%;
	margin-top: 2em;
	text-align: center;
}


/****** criando colunas iguais e que flutuam próximas umas das outras ******/
.column {
	text-align: center;
}

/****** frame ******/
.frame {
	width: 90%;
	/*border: rgba(0,0,204, 0.5) 1px solid;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.frame:hover {
	transform: scale(1.05, 1.05);
}

.img-card {
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

.text-card {
	text-align: center;
	background-color: rgba(0,0,204, 0.5);
	max-width: 100%;
}

#contato {
	width: 100%;
	min-height: 100vh;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

#contato * {
	margin: 0.5em 0 0.5em 0;
}

#parFoto {
	max-width: 90%;
	text-align: center;
}

#foto {
	border-radius: 50%;
	border: rgba(255,255,255, 0.5) 5px solid;
	max-width: 90%;
	height: auto;
}

#myLinks {
	font-size: 2em;
}

.generic-btn {
	padding: 0.75em;
	border-radius: 5px;
	background-color: rgba(255,255,255, 0.5);
	color: #000000;
	font-weight: bold;
}

.generic-btn:hover {
	background-color: rgba(0,0,0, 0.5);
	color: #ffffff;
}


/******      0-576 | 576-992 | 992-zzz      ******/

/*********** dispositivos grandes ***********/
@media (min-width: 992.01px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

}


/*********** dispositivos médios ***********/
@media (min-width: 577px) and (max-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

  .corner3 {
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  }

}

/*********** dispositivos pequenos ***********/
@media (max-width: 576px) {
	nav {
		float: none;
		text-align: center;
		padding-top: 0;
	}

	header {
		text-align: center;
		max-width: 100%;
	}

	#menu {
		display: none;
	}

}